body {
  background-color: grey;
}



.App {
  text-align: center;
}

.card > p {
    font-size: 1.1rem;
  color: #222;
}

.App-header {
  margin: 0;
  max-height: 90px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  font-family: 'Courier New', Courier, monospace;
  color: darkgrey;
 
  border: 5px darkslategrey solid;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  margin: 20px;
  width: 80vw;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 15px;

  
}

.card-button {
 
    background-color: darkgrey;
    padding: 10px;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  
}

.card-container {

    display: flex;
    list-style: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: space-between;
    padding: 30px;
    

}

.navbar-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282c34;
  margin-top: 1000px;
  list-style-type: none; 
  
}

.navbar-icon {
  color: white;
  list-style: none;
padding-top: 30px;
height: 40px;
;


}

.link {
  color:white;
  
}